
<!-- Single Fruit Template -->

<div class="row single-fruit-main-row ">

	<div class="large-9   medium-6 columns">
		
		<div class="img-cont">

			<img  class="images img-responsive " src="{{singleFruit.image}}" alt="{{singleFruit.name}}">
			
		</div>


	</div>


	<div class="large-3 columns medium-4 " >


		<h6 class="subheader">{{singleFruit.description}}</h6>
		
		<h3>{{singleFruit.name}}</h3>
		<p><rating value="singleFruit.rating" max="5" readonly="true" class="rating"></rating> <a href="#">{{singleFruit.reviews.length}} reviews</a></p>

	
		<p ><span class="fruit-price-description">{{singleFruit.price  | currency}}</span> / lb</p>

		<p>


			<select ng-model="singleFruit.fruitCount" ng-disabled="selectable" >

		          <option value="QTY">QTY</option>

		          <option value="1">1</option>

		          <option value="2">2</option>

		          <option value="3">3</option>
		          
		          <option value="4">4</option>

		          <option value="5">5</option>

		          <option value="6">6</option>

		          <option value="7">7</option>

		          <option value="8">8</option>

		          <option value="9">9</option>

		          <option value="10">10</option>

		  </select>

		</p>

		<!-- 		       	  
		when user clicks function, the function takes in the fruit object, fruit.name property, fruitCount model for select options value, and fruit.price property for EACH UNIQUE FRUIT	 -->	
		
		<div data-alert class="alert-box alert radius" ng-if="alert && singleFruit.fruitCount <= 1" >You added {{singleFruit.fruitCount}} {{singleFruit.name}} to your cart! </div>

		<div data-alert class="alert-box alert radius" ng-if="alert && singleFruit.fruitCount > 1">You added {{singleFruit.fruitCount}} {{singleFruit.name}}'s' to your cart! </div>
				
				
		<button class="small " style="width: 100%"ng-click="addToCart(singleFruit.name, singleFruit.image, singleFruit.fruitCount, singleFruit.price, singleFruit.description)" ng-disabled="isDisabled" ng-model="isDisabled" >Add to cart</button>



<!-- checkout ordercheckout template -->

		<div class="heading cf" >

			<center><a ui-sref="home" class="continue" style="float: none">Continue Shopping</a></center>

		</div><!-- end of heading -->
				
			
	
	</div><!-- end of columns -->



</div><!-- end of row -->

<div class="row">
		
		<div class="large-12 columns large-centered">




  <accordion close-others="oneAtATime">
  

	 <accordion-group heading="Reviews" >
	 		<ul class="customer-review-list">
	 			<li ng-repeat="review in singleFruit.reviews">
	 				<h5>{{review.title}} </h5>
	 				<h6><rating value="review.rating" max="5" readonly="true" class="rating customer-rating"></rating> <span style="font-size: 0.9em">by {{review.name}}</span></h6>
	 				<p>{{review.review}}</p>

	 			</li>
	 		</ul>




  	</accordion-group>
	    </accordion>







			
	
		</div>





</div>



		


















