
<!-- Single Fruit Template -->
<div class="row single-fruit-main-row ">

	<div class="large-9   medium-6 columns">
		
		<div class="img-cont">

			<img  class="images img-responsive " src="{{singleFruit.image}}" alt="{{singleFruit.name}}">
			
		</div>


	</div>


	<div class="large-3 columns medium-4 " >
		
		<header>
			
			<h6 class="subheader">{{singleFruit.description}}</h6>
			
			<h3>{{singleFruit.name}}</h3>

			<p>
				<span class="fruit-price-description">{{singleFruit.price  | currency}}</span> / <small>lb</small>

			</p>
		</header>

		<section>
				<p>

					<rating value="singleFruit.rating" max="5" readonly="true" class="rating"></rating> 

					<a href="#">{{singleFruit.reviews.length}} reviews</a>

				</p>

			
				<ul class="singleFruit-editing-count-list">

					<li>

						<a href="" style="color: #404040" class="fa fa-minus-circle fa-3x" ladda="subtract" ng-click="subtractCount()"></a>

					</li>

					<li >			

						<h4 style="display: inline">{{singleFruit.fruitCount}}</h4>

					</li>

					<li>	

						<a href="" style="color: #404040" class="fa fa-plus-circle fa-3x" ladda="add" ng-click="addCount()" >
							

						</a>

					</li>


				</ul>	
		

				<button class="button small round secondary saveCartButton" ng-click="saveChangesToCart(singleFruit.fruitCount)"  ladda="saving" data-style="expand-right" data-spinner-color="#000000">Save Changes</button>

				<button class="button small round alert deleteCartButton" ng-click="deleteChangesToCart(singleFruit)"  ladda="deleting" data-style="expand-right" data-spinner-color="#FFA6A6">Remove Item</button>

		</section><!-- end of section -->

		<!-- checkout ordercheckout template -->

		<div class="heading cf" >

			<!--<center><a ui-sref="home" class="continue" style="float: none">Continue Shopping</a></center> -->

		</div><!-- end of heading -->
				
			
	
</div><!-- end of columns -->



</div><!-- end of row -->

<div class="row">
		
		<div class="large-12 columns large-centered">

			  <accordion close-others="oneAtATime">
				 <accordion-group is-open="isopen" >

					<accordion-heading>Reviews <i class="right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i> </accordion-heading>


					
			 		<ul class="customer-review-list">
			 			<li ng-repeat="review in singleFruit.reviews">
			 				<h5>{{review.title}} </h5>
			 				<h6><rating value="review.rating" max="5" readonly="true" class="rating customer-rating"></rating> <span style="font-size: 0.7em">by {{review.name}}</span></h6>
			 				<p>{{review.review}}</p>

			 			</li>
			 		</ul>

			  	</accordion-group>
			 </accordion>
	
		</div><!-- end of column -->

		
	<div class="large-12 columns large-centered" style="padding-top: 30px">

			<center><h5 >Others also bought</h5></center>
			
			<slicker-carousel></slicker-carousel>
	</div>


</div><!-- end of row -->


<a href="" data-reveal-id="myModal"></a>

	
	<shopping-cart-modal></shopping-cart-modal>








