
<!-- Single Fruit Template -->
<div class="row single-fruit-main-row ">

	<div class="large-9   medium-6 columns">
		
		<div class="img-cont">

			<img  class="images img-responsive " src="{{singleFruit.image}}" alt="{{singleFruit.name}}">
			
		</div>


	</div>


	<div class="large-3 columns medium-4 " >
		
		<header>
			
			<h6 class="subheader">{{singleFruit.description}}</h6>
			
			<h3>{{singleFruit.name}}</h3>

			<p>
				<span class="fruit-price-description">{{singleFruit.price  | currency}}</span> / <small>lb</small>

			</p>
		</header>

		<section>
				<p>

					<rating value="singleFruit.rating" max="5" readonly="true" class="rating"></rating> 

					<a href="#">{{singleFruit.reviews.length}} reviews</a>

				</p>

			
				<p>
					<select ng-model="singleFruit.fruitCount" ng-disabled="selectable" >

				          <option value="QTY">QTY</option>

				          <option value="1">1</option>

				          <option value="2">2</option>

				          <option value="3">3</option>
				          
				          <option value="4">4</option>

				          <option value="5">5</option>

				          <option value="6">6</option>

				          <option value="7">7</option>

				          <option value="8">8</option>

				          <option value="9">9</option>

				          <option value="10">10</option>

				  </select>

				</p>

			
						
				<button class="button small secondary addCartButton" ng-click="addToCart(singleFruit.id, singleFruit.name, singleFruit.image, singleFruit.fruitCount, singleFruit.price, singleFruit.description)" >Add to cart <i class="fa fa-cart-arrow-down"></i>
				</button>

		</section><!-- end of section -->

		<!-- checkout ordercheckout template -->

		<div class="heading cf" >

			<!--<center><a ui-sref="home" class="continue" style="float: none">Continue Shopping</a></center> -->

		</div><!-- end of heading -->
				
			
	
</div><!-- end of columns -->



</div><!-- end of row -->

<div class="row">
		
		<div class="large-12 columns large-centered">

			  <accordion close-others="oneAtATime">
				 <accordion-group is-open="isopen" >

					<accordion-heading>Reviews <i class="right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i> </accordion-heading>


					
			 		<ul class="customer-review-list">
			 			<li ng-repeat="review in singleFruit.reviews">
			 				<h5>{{review.title}} </h5>
			 				<h6><rating value="review.rating" max="5" readonly="true" class="rating customer-rating"></rating> <span style="font-size: 0.7em">by {{review.name}}</span></h6>
			 				<p>{{review.review}}</p>

			 			</li>
			 		</ul>

			  	</accordion-group>
			 </accordion>
	
		</div><!-- end of column -->

		
	<div class="large-12 columns large-centered" style="padding-top: 30px">

			<center><h5 >Others also bought</h5></center>
			
			<slicker-carousel></slicker-carousel>
	</div>


</div><!-- end of row -->


<a href="" data-reveal-id="myModal"></a>

	
	<shopping-cart-modal></shopping-cart-modal>








