<!-- Main Home Template for list of entire fruit items -->
<div class="row">
	
		<center> <h1 class="projTitle" style="border-bottom: 0">Weclome to the<span> shopping </span>network!</h1></center>
		
		<div class="fruitList-Carousel">
			
			<slicker-carousel></slicker-carousel>
			
		</div>

		<ul class="fruitList">

			<li ng-repeat='fruit in fruits | filter:search:strict track by $index ' add-fruit-icon>

				<a ui-sref="singleFruit({ id: $index})">
								
					<div class="fruitContainer clearfix ">

						<div class="fruit-image">	

						  <img  class="images fruit-desc img-responsive" src="{{fruit.image}}" alt="{{fruit.name}}" />

						</div>
						
						<div class="fruit-description clearfix">		

							<ul >
								<li style="float: right">	<i class="fa fa-cart-plus addCartIcon hides"   ng-click="addFruit(fruit)"></i></li>

								<li><span class="fruit-price-description">{{ fruit.price  | currency}}</span> <span class="fruit-weight-description">/ lb</span></li>

								<li><b>{{ fruit.name }}	</b></li>

								<li><span class="fruit-description-description ">{{ fruit.description }}</span<</li>

								<li><span class="fruit-free-shipping-description">Free shipping on orders more than <b>$15.00</b></span></li>

					
							</ul><!-- end of ul -->
						  </div><!-- end of div -->
						
						
					</div><!-- end of div -->
					
					
				</a>

			</li>
			
		</ul><!-- end of fruit list-->


		<!-- checkout order -->
		<!-- items and total are broadcasted from user data service and main controller -->

		<span class="checkout"> {{items}} items<strong> {{total | currency}}</strong>	
					
		<br/><a ui-sref="processForm"  class="button large alert round">Proceed to checkout </a></span>
	
</div>
