@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
/* Must refactor CSS into types or features for maintainability */
/* _____________________________________________________________ */

body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-family: "Droid Serif", serif; }
img {
  max-width: 100%; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.wrap {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5em; }



.fi-x {
  font-size: 1.7em;
  cursor: pointer;
  color: #CC0000; }



.container {
  padding: 80px 0; }

/* Place order Button */
.checkout {
  text-align: center;
  display: block;
  font-size: 2em; }
/*_____________________________*/
/*       Plugins            */
/*_____________________________*/
#scrollUp {
    bottom: 100px;
    right: 20px;
    padding: 25px;
    background-color: #555;
    color: #fff;
    border-radius: 50%;
    opacity: 0.4;
    font-size: 1.3em;
}
.fa-chevron-up{
  font-size: 1.8em;
}

/*_____________________________*/
/* Fruit list Section Home Page*/
/*_____________________________*/
.images {
  float: left;
  max-width: 100%;
  display: inline;
}

.fruitContainer {
  border-bottom: 1px solid #E4E4E4;
  width: 100%; }

.fruitList {
  list-style-type: none;
      width: 100%; 
      margin: 0 auto;}


.fruit-image {
  width: 20%; }

.fruit-description {
  margin-top: 3%;
  margin-right: 30%;
  float: right;
  display: inline;
  width: 50%; }

.fruit-description ul li {
  list-style-type: none;
  line-height: 1.2em;
  font-size: 1em; }

.fruit-price-description {
  color: #FF550A;
  font-size: 0.9em;
  font-weight: bold; }

.fruit-weight-description {
  color: #747474;
  font-size: 0.8em;
  font-weight: bold; }

.fruit-free-shipping-description {
  font-size: 0.8em;
  color: #6C6C6C; }

.fruit-description-description {
  color: #3769E7;
  font-size: 0.9em; }

.custom-process-button {
  background: #004994;
  text-decoration: none; }

.edit-update-fruit-list{
   list-style-type: none;
}

#signup-form{
  width: 90%;
  margin: 0 auto;
  margin-top: 3%;
}


.projTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  padding-bottom: 10px;
}
  .projTitle span {
    font-family: "Droid Serif", serif;
    font-weight: normal;
    font-style: italic;
   text-transform: uppercase;
    color: #777; }

.heading {
  padding: 0.1em 0;
 }
  .heading h1 {
    font-family: "Droid Serif", serif;
    font-size: 2em;
     }
  .heading a.continue:link, .heading a.continue:visited {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -.015em;
    font-size: .75em;
    padding: 1.2em 3em;
    color: #fff;
    background: #FF871D;
    font-weight: bold;
    
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear; }

  .heading a.continue:hover, .heading a.continue:focus, .heading a.continue:active {
    background: #E86D00; }
   

.cart {
  padding: 1em 0; }
  .cart .items {
    display: block;
    width: 100%;
    vertical-align: middle;
    padding: 1.5em;
    border-bottom: 1px solid #E4E4E4; }
    .cart .items.even {
      background: #fafafa; }
    .cart .items .infoWrap {
      display: table;
      width: 100%; }
    .cart .items .cartSection {
      display: table-cell;
      vertical-align: middle; }
      .cart .items .cartSection .itemNumber {
        font-size: .75em;
        color: #777;
        margin-bottom: .5em; }
      .cart .items .cartSection h3 {
        font-size: 1em;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
    
        letter-spacing: .025em; }
      .cart .items .cartSection p {
        display: inline-block;
        font-size: .85em;
        color: #777777;
        font-family: "Montserrat", sans-serif; }
        .cart .items .cartSection p .quantity {
          font-weight: bold;
          color: #333; }
        .cart .items .cartSection p.stockStatus {
          color: #82CA9C;
          font-weight: bold;
          padding: 0.5em 0 0 1em;
          text-transform: uppercase; }
          .cart .items .cartSection p.stockStatus.out {
            color: #F69679; }
      .cart .items .cartSection .itemImg {
        width: 4em;
        float: left; }
      .cart .items .cartSection.qtyWrap, .cart .items .cartSection.prodTotal {
        text-align: center; }
        .cart .items .cartSection.qtyWrap p, .cart .items .cartSection.prodTotal p {
          font-weight: bold;
          font-size: 1.25em; }
      .cart .items .cartSection input.qty {
        width: 2em;
        text-align: center;
        font-size: 1em;
        padding: .25em;
        margin: 1em 0.5em 0 0; }
      .cart .items .cartSection .itemImg {
        width: 8em;
        display: inline;
        padding-right: 1em; }

.special {
  display: block;
  font-family: "Montserrat", sans-serif; }
  .special .specialContent {
    padding: 1em 1em 0;
    display: block;
    margin-top: .5em;
    border-top: 1px solid #dadada; }
    .special .specialContent:before {
      content: "\21b3";
      font-size: 1.5em;
      margin-right: 1em;
      color: #6f6f6f;
      font-family: helvetica, arial, sans-serif; }

a.remove {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: bold;
  background: #e0e0e0;
  padding: .5em;
  font-size: .75em;
  display: inline-block;
  border-radius: 100%;
  line-height: .85;
  margin-left: 5%;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear; }
  a.remove:hover {
    background: #f30; }



.btn:link, .btn:visited {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -.015em;
  font-size: 1em;
  padding: 1em 3em;
  color: #fff;
  background: #EB3030;
  font-weight: bold;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear; }



.btn:hover, .btn:focus, .btn:active {
  background: #EA0303; }
  .btn:hover:after, .btn:focus:after, .btn:active:after {
    right: -10px; }

.promoCode .btn {
  font-size: .85em;
  paddding: 0.5em 2em; }

/* TOTAL AND CHECKOUT  */
.subtotal {
  float: right;
  width: 100%; 
  margin-top: 8%;
}
  .subtotal .totalRow {
    padding: .5em;
    text-align: right;
    list-style: none; }
    .subtotal .totalRow.final {
      font-size: 1.25em;
      font-weight: bold; }
    .subtotal .totalRow span {
      display: inline-block;
      padding: 0 0 0 1em;
}
    .subtotal .totalRow .label {
      font-family: "Montserrat", sans-serif;
      font-size: .85em;
      text-transform: uppercase;
      color: #777;
      background: none; }
    .subtotal .totalRow .value {
      letter-spacing: -.025em;
      }




.removeSmall{
  display: none;
}


.subtotal-total{
        width: 40%;
        float: right;
        padding: 0;
      }
      .subtotal-user{
        width: 40%;
        float: left;
        padding: 0;
        text-align: left;
        list-style-type: none;
       line-height: 4em;
        
      }
      .subtotal-user-desc{
          font-family: "Montserrat", sans-serif;
        font-size: .85em;
        text-transform: uppercase;
        
        color: #777;
      }


.custom-shopping-count{
  position: relative;
  bottom: 14px;
  right: 14px;
  font-weight: 900;
  color: #FFFFFF;
  font-size: 0.4em;
 background: #EB0000;
 border-radius: 50%;
 padding: 3px 8px;
 font-family: Helvetica;  


}
.addCartButton{
  width: 100%;

  font-weight: bold;
}

.fa-shopping-cart{
  font-size: 1.9em;
  padding-top: 6px;
  position: relative;
  left: 13px;
  top: 6px;

}
.fa-cart-plus{
  font-size: 1.6em;
  padding-left: 10px;
}

.img-cont{
  margin-left: 14%;
  margin-top: 9%;
}

.single-fruit-main-row{
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 50px;
}


.rating{
  color: #FFCC00;
}
.customer-rating{
  font-size: 0.8em;
}
.customer-review-list{
  list-style-type: none;
}


input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}

.search-icon{

  color: #FF871D;
  font-size: 1.7em;
}
.has-form{
  width: 420px;
}


.accordion dd > a{
  background: #D7D7D7;
}
.accordion dd > a:hover{
  background: #D7D7D7;
}

.view-loading-spinner-container{
  margin-top: 0;
}
.view-loading-spinner{
  margin-top: 160px;
}

.slick-prev:before, .slick-next:before { 
    color:#888888 !important;
}
.carousels{
  width: 70%;
  margin: 0 auto;
}
.carousel-container{
  margin-top: 5%;
  width: 100%;
}


@media only screen and (max-width: 43em) {
   .wrap {
    width: 100%;
   }
  .projTitle {
    font-size: 1.5em;
    padding: 10% 5%; }
  .heading {
    padding: 1em;
    font-size: 90%; }
  .cart .items .cartSection {
     display: block;
 }
    .cart .items .cartSection.qtyWrap {
      width: 10%;
      text-align: center;
      padding: .5em 0;
      float: right; }
      .cart .items .cartSection.qtyWrap:before {
        content: "QTY";
        display: block;
        font-family: "Montserrat", sans-serif;
        padding: .25em;
        font-size: .75em; }
    .cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
      display: none; }
    .cart .items .cartSection .itemImg {
      width: 32%; }

      .subtotal {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        float: none;
  
      }
    .heading{
      text-align: center;
    }
    a.continue{
        width: 100%;
        display: block;
        text-align: center;
      }
      .removeSmall{
       display: inline-block;
      padding: 3px 8px;
      }
    
      .edit-update-fruit-list li{
        display: inline;
        padding-right: 10px;

      }
     .cart .items .cartSection p.stockStatus {
        padding: 0.5em 0 0 3em;

     }
    

  .container{
    padding-top: 50px;
  }
   .img-cont{
    margin-left: 15%;
  }


    }
/*Media breakpoint for process form checkout because of image not resizing properly*/
@media (max-width: 560px) {

  #editCount-sizing 
  {
    width: 40px; 

    } 

  .fa-shopping-cart
  {
    font-size: 2em;
  position: relative;
  left: 19px;


  }

  .custom-shopping-count
  {
    position: relative;
    bottom: 17px;
    right: 16px;
   font-weight: bold;
  padding: 1px 8px;

  }
  .fa-chevron-up{
   font-size: 1.6em;
  }
  #scrollUp 
  {
    bottom: 60px;
    right: 5px;

     padding:17px;

  }
   .img-cont
   {
    margin-left: 10%;
    width: 80%;
    margin-top: 10%;
  }
 

}
@media (max-width: 480px){
  .carousels{
    width: 100%;

  }

}

