<!-- Payment Template / Final Checkout -->

<div class="row">
  
  <div class="checkoutContainer"  ng-if="!processForm.finalCheckoutOrder">
        <div class="heading cf" >

            <h1 class="projTitle" ><span>{{processForm.formData.userName}}'s totals </span></h1>


          </div><!-- end of heading -->
      

          <div class="wrap cf">

            <div class="subtotal cf" >

              <ul class="subtotal-user"> 
                

                <li ><span class="subtotal-user-desc">{{processForm.formData.userName}}</span></li>

                <li ><span class="subtotal-user-desc">{{processForm.formData.userEmail}}</span></li>

                <li ><span class="subtotal-user-desc">{{processForm.formData.userCity}}</span></li>

              </ul>


              <ul class="subtotal-total">

                <li class="totalRow"><span class="label">Tax:</span><span class="value">$3.00</span></li>
                
                <li class="totalRow">

                  <span class="label">Shipping:</span>
                  
                  <span class="value"  ng-if="!processForm.formData.shipping">$7.00</span>

                  <span class="value"  ng-if="processForm.formData.shipping" >Free</span>

                </li>
                

                <li class="totalRow"><span class="label">Subtotal:</span><span class="value">{{processForm.subTotal | currency}}</span></li>

                <li class="totalRow final"><span class="label">Total:</span>
                      
                        <span class="value" >{{processForm.totalCalculated| currency}}</span>

                </li>

                <li class="totalRow">

                  <button 

                      class="button alert"  
                      ng-click="processForm.submitOrder()" 
                      ladda="processForm.checkout" 
                      data-style="zoom-out" 
                      data-spinner-color="#550202"> 

                      Order

                    </button>

                  </li>

              </ul>
            
            </div>

          </div><!-- end of subtotal -->
        </div><!-- end of checkout container -->
        <div ng-if="processForm.finalCheckoutOrder">
          
             <h1 class="projTitle" style="border-bottom: 0">Thank you for shopping with us <span style="color: red;text-transform: uppercase"> {{processForm.formData.userName}} <b>!</b></span> </h1>     

             <center><h1><a href="http://KirckPingul.com" class="button secondary">Back to my portfolio site</a></h1></center>
            
          
        </div><!-- end of submit -->

      </div><!-- end of wrapper -->
</div><!-- end of row -->