<!-- Payment Template / Final Checkout -->

<div class="row">
  

    <div class="heading cf" ng-if="!orderSubmit" >

        <h1 class="projTitle" ><span>{{formData.userName}}'s totals </span></h1>


      </div><!-- end of heading -->
  

      <div class="wrap cf">

        <div class="subtotal cf" ng-if="!orderSubmit">

          <ul class="subtotal-user"> 
            

            <li ><span class="subtotal-user-desc">{{formData.userName}}</span></li>

            <li ><span class="subtotal-user-desc">{{formData.userEmail}}</span></li>

            <li ><span class="subtotal-user-desc">{{formData.userCity}}</span></li>

          </ul>


          <ul class="subtotal-total">

            <li class="totalRow"><span class="label">Subtotal:</span><span class="value">{{subTotal | currency}}</span></li>
            
            <li class="totalRow">

              <span class="label">Shipping:</span>
              
              <span class="value" ng-if="subTotal < 15">$7.00</span>

              <span class="value" ng-if="subTotal > 15">Free</span>

            </li>
            
            <li class="totalRow"><span class="label">Tax:</span><span class="value">$3.00</span></li>

            <li class="totalRow final"><span class="label">Total:</span>
                  
                    <span class="value" ng-if="!checkForTotal()">{{subTotal| currency}}</span>

                    <span class="value" ng-if="checkForTotal() && subTotal < 15 ">{{subTotal + 10| currency}}</span>
        
                     <span class="value" ng-if="checkForTotal() && subTotal > 15 ">{{subTotal + 3| currency}}</span>
            </li>

            <li class="totalRow">

              <button 

                  class="button alert"  
                  ng-click="submitOrder(usersData, formData.userName, subTotal)" 
                  ladda="checkout" 
                  data-style="zoom-out" 
                  data-spinner-color="#550202"> 

                  Order

                </button>

              </li>

          </ul>
        
                

        </div><!-- end of subtotal -->

        <div ng-if="orderSubmit">
          
             <h1 class="projTitle" style="border-bottom: 0">Thank you for shopping with us <span style="color: red;text-transform: uppercase"> {{formData.userName}} <b>!</b></span> </h1>     

             <center><h1><a href="http://KirckPingul.com" class="button secondary">Back to my portfolio site</a></h1></center>
            
          
        </div><!-- end of submit -->

      </div><!-- end of wrapper -->
</div><!-- end of row -->