<!-- Profile Template -->


<div class="row">
  
    <div class="heading cf" ng-if="!orderSubmit" >

      <h1 class="projTitle" ><span>Your personal information </span></h1>

    </div><!-- end of heading -->

      <form 
            id="signup-form" 
            name="myForm" 
            ng-submit="processForm(myForm.$valid)" 
            novalidate>
       
              <label  for="name">Name</label>

              <input 

                  type="text" 
                  name="name"  
                  ng-model="formData.userName" 
                  placeholder="type in full name here..." 
                  required >


              <p style="color: red" ng-show="myForm.name.$invalid">Name Required</p>

              <label  for="address">Email</label>

              <input 

                  type="email" 
                  class="form-control input-sm" 
                  name="email" 
                  ng-model="formData.userEmail" 
                  placeholder="type in email address here..." 
                  required>


              <p style="color: red" ng-show="myForm.email.$invalid && !myForm.email.$pristine">Invalid email</p>

              <label  for="phone">City</label>

            	<select name="city" ng-model="formData.userCity" required >

            		<option value="San Francisco">San Francisco</option>

            		<option value="Oakland">Oakland</option>

            		<option value="Hayward">Hayward</option>

            	</select>


              <center>

                <span 

                    style="color: green" 
                    ng-show="formData.submittedForm">

                    <b>Information submitted!</b>

                    <span style="color: #6A6A6A"> Click next to advance to checkout {{formData.userName}}</span>

                  </span>

                </center>

              <center>

                <button  

                    class="success tiny" 
                    type="submit" 
                    ladda="submitting" 
                    data-style="expand-right" 
                    data-spinner-color="#045C00"
                    ng-hide="formData.submittedForm" >
        
                    Submit

                  </button>

                </center>

        </form><!-- end of Form -->
             
          <!-- processForm.payment directs the nested form to the next page (processForm.payment) in the routes which renders another template within the ui-view in the main process form template-->

        <center>
          
            <button 

                  ui-sref="processForm.content" 
                  class="small">

                  Back 
            </button>

      			<button 

                  ui-sref="processForm.payment"
                  class="small" 
                  ng-disabled="!formData.submittedForm">

                  Next

           </button>

    	     	
    	  </center>

</div><!-- end of row -->

<footer ng-hide="!checkForTotal()">

  <ul class="footer-checkout">
    
    <li class="left" style="margin-top: 3px">

      Subtotal: {{subTotal | currency}}
    </li>
  


    <li class="right" style="margin-right: 2%">


        <!-- processForm.payment directs the nested form to the next page (processForm.payment) in the routes which renders another template within the ui-view in the main process form template-->
        <a 

            href="" 
            class="button secondary round tiny" 
            ui-sref="processForm.profile" 
            ng-disabled="disabledNext" >

            Proceed to checkout 
            <b><i class="fa fa-chevron-right"></i></b>

        </a>

    </li>     

  </ul>
    
</footer>

